<div class="product-dialog">
    <div class="close-btn-outer">
        <button mat-mini-fab color="warn" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content>
        <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field class="w-100">
                <input matInput placeholder="Enter OTP" name="otp" [(ngModel)]="otp" required>
                <!-- <mat-error *ngIf="mobileNumber.invalid">Please enter a valid mobile number</mat-error> -->
            </mat-form-field>
        </div>
        <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <button class="btn-project" mat-raised-button color="primary" (click)="verifyOpt()">Send</button>
        </div>
    </div>
</div>