<div class="product-dialog">
    <div class="close-btn-outer">
        <button mat-mini-fab color="warn" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content>

        <div class="commerce-buttons" fxLayout="row" fxLayoutAlign="end center">

            <div class="login-wrapper" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                <div class="title">
                    <h3>Login</h3>
                </div>
                <form fxLayout="row wrap" (ngSubmit)="loginForm.valid && doLogin($event)" [formGroup]="loginForm">
                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Mobile number" name="mobileNumber"
                                formControlName="mobileNumber" required>
                            <mat-error *ngIf="loginForm.get('mobileNumber').hasError('required')">Please enter a mobile
                                number
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ?
                                'visibility_off' :
                                'visibility'}}</mat-icon>
                            <mat-error *ngIf="loginForm.get('password').hasError('required')">Please
                                enter a valid password
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1"
                        ngClass.xs="mt-1">
                        <button class="btn-project" [class.spinner]="loading" [disabled]="loading" mat-raised-button
                            color="primary" type="submit">Log in</button>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <a href="#" (click)="redirectForgotPassword($event)">Forgot password?</a>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <a href="#" (click)="redirectToMyAccount($event)">Create partner
                            account?</a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>