<div class="privacy-policy-page sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
            <div fxFlex="100" fxFlex.gt-sm="100" class="left-info-panel">
                <div class="title">
                    <h3>Privacy Policy</h3>
                </div>
                <div class="accordions">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>Data that we collect</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>We may collect various pieces of information if you seek to place an order for a product
                                with us on the Site.<br><br>

                                We collect, store and process your data for processing your purchase on the Site and any
                                possible later claims, and to provide you with our services. We may collect personal
                                information including, but not limited to, your title, name, gender, date of birth,
                                email address, postal address, delivery address (if different), telephone number, mobile
                                number, fax number, payment details, payment card details or bank account details.
                                <br><br>
                                We will use the information you provide to enable us to process your orders and to
                                provide you with the services and information offered through our website and which you
                                request. Further, we will use the information you provide to administer your account
                                with us; verify and carry out financial transactions in relation to payments you make;
                                audit the downloading of data from our website; improve the layout and/or content of the
                                pages of our website and customize them for users; identify visitors on our website;
                                carry out research on our users' demographics; send you information we think you may
                                find useful or which you have requested from us, including information about our
                                products and services, provided you have indicated that you have not objected to being
                                contacted for these purposes. Subject to obtaining your consent we may contact you by
                                email with details of other products and services. If you prefer not to receive any
                                marketing communications from us, you can opt out at any time.
                                <br><br>
                                We may pass your name and address on to a third party in order to make delivery of the
                                product to you (for example to our courier or supplier). You must only submit to us the
                                Site information which is accurate and not misleading and you must keep it up to date
                                and inform us of changes.
                                <br><br>
                                Your actual order details may be stored with us but for security reasons cannot be
                                retrieved directly by us. However, you may access this information by logging into your
                                account on the Site. Here you can view the details of your orders that have been
                                completed, those which are open and those which are shortly to be dispatched and
                                administer your address details, bank details ( for refund purposes) and any newsletter
                                to which you may have subscribed. You undertake to treat the personal access data
                                confidentially and not make it available to unauthorized third parties. We cannot assume
                                any liability for misuse of passwords unless this misuse is our fault.
                            </p><br><br>
                            <h4>
                                Other uses of your Personal Information
                            </h4><br>
                            <p>
                                We may use your personal information for opinion and market research. Your details are
                                anonymous and will only be used for statistical purposes. You can choose to opt out of
                                this at any time. Any answers to surveys or opinion polls we may ask you to complete
                                will not be forwarded on to third parties. Disclosing your email address is only
                                necessary if you would like to take part in competitions. We save the answers to our
                                surveys separately from your email address.
                                <br><br>
                                We may also send you other information about us, the Site, our other websites, our
                                products, sales promotions, our newsletters, anything relating to other companies in our
                                group or our business partners. If you would prefer not to receive any of this
                                additional information as detailed in this paragraph (or any part of it) please click
                                the 'unsubscribe' link in any email that we send to you. Within 7 working days (days
                                which are neither (i) a Sunday, nor (ii) a public holiday anywhere in Bangladesh) of
                                receipt of your instruction we will cease to send you information as requested. If your
                                instruction is unclear we will contact you for clarification.
                                <br><br>
                                We may further anonymize data about users of the Site generally and use it for various
                                purposes, including ascertaining the general location of the users and usage of certain
                                aspects of the Site or a link contained in an email to those registered to receive them,
                                and supplying that anonymized data to third parties such as publishers. However, that
                                anonymized data will not be capable of identifying you personally.
                            </p><br><br>

                            <h4>
                                Competitions
                            </h4><br>
                            <p>
                                For any competition we use the data to notify winners and advertise our offers. You can
                                find more details where applicable in our participation terms for the respective
                                competition.
                            </p><br><br>

                            <h4>
                                Third Parties and Links
                            </h4><br>
                            <p>
                                We may pass your details to other companies in our group. We may also pass your details
                                to our agents and subcontractors to help us with any of our uses of your data set out in
                                our Privacy Policy. For example, we may use third parties to assist us with delivering
                                products to you, to help us to collect payments from you, to analyze data and to provide
                                us with marketing or customer service assistance.
                                <br><br>
                                We may exchange information with third parties for the purposes of fraud protection and
                                credit risk reduction. We may transfer our databases containing your personal
                                information if we sell our business or part of it. Other than as set out in this Privacy
                                Policy, we shall NOT sell or disclose your personal data to third parties without
                                obtaining your prior consent unless this is necessary for the purposes set out in this
                                Privacy Policy or unless we are required to do so by law. The Site may contain
                                advertising of third parties and links to other sites or frames of other sites. Please
                                be aware that we are not responsible for the privacy practices or content of those third
                                parties or other sites, nor for any third party to whom we transfer your data in
                                accordance with our Privacy Policy.

                            </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>Cookies</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>The acceptance of cookies is not a requirement for visiting the Site. However we would
                                like to point out that the use of the 'basket' functionality on the Site and ordering is
                                only possible with the activation of cookies. Cookies are tiny text files which identify
                                your computer to our server as a unique user when you visit certain pages on the Site
                                and they are stored by your Internet browser on your computer's hard drive. Cookies can
                                be used to recognize your Internet Protocol address, saving you time while you are on,
                                or want to enter, the Site. We only use cookies for your convenience in using the Site
                                (for example to remember who you are when you want to amend your shopping cart without
                                having to re-enter your email address) and not for obtaining or using any other
                                information about you (for example targeted advertising). Your browser can be set to not
                                accept cookies, but this would restrict your use of the Site. Please accept our
                                assurance that our use of cookies does not contain any personal or private details and
                                are free from viruses. If you want to find out more information about cookies, go to
                                <a target="_blank"
                                    href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a> or to find
                                out about removing them from your browser, go
                                to <a href="http://www.allaboutcookies.org/manage-cookies/index.html"
                                    target="_blank">http://www.allaboutcookies.org/manage-cookies/index.html</a>.
                                <br><br>
                                This website uses Google Analytics, a web analytics service provided by Google, Inc.
                                ("Google"). Google Analytics uses cookies, which are text files placed on your computer,
                                to help the website analyze how users use the site. The information generated by the
                                cookie about your use of the website (including your IP address) will be transmitted to
                                and stored by Google on servers in the United States. Google will use this information
                                for the purpose of evaluating your use of the website, compiling reports on website
                                activity for website operators and providing other services relating to website activity
                                and internet usage. Google may also transfer this information to third parties where
                                required to do so by law, or where such third parties process the information on
                                Google's behalf. Google will not associate your IP address with any other data held by
                                Google. You may refuse the use of cookies by selecting the appropriate settings on your
                                browser, however please note that if you do this you may not be able to use the full
                                functionality of this website. By using this website, you consent to the processing of
                                data about you by Google in the manner and for the purposes set out above.
                            </p>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>Security</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>We have in place appropriate technical and security measures to prevent unauthorized or
                                unlawful access to or accidental loss of or destruction or damage to your information.
                                When we collect data through the Site, we collect your personal details on a secure
                                server. We use firewalls on our servers. Our security procedures mean that we may
                                occasionally request proof of identity before we disclose personal information to you.
                                You are responsible for protecting against unauthorized access to your password and to
                                your computer.</p>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4>Your rights</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>If you are concerned about your data you have the right to request access to the personal
                                data which we may hold or process about you. You have the right to require us to correct
                                any inaccuracies in your data free of charge. At any stage you also have the right to
                                ask us to stop using your personal data for direct marketing purposes.</p>
                        </mat-expansion-panel>

                    </mat-accordion>
                </div>
            </div>
        </mat-card>
        <br>

        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
            <div fxFlex="100" fxFlex.gt-sm="100" class="partner-policy left-info-panel">
                <div class="title">
                    <h3>Partner Policy</h3>
                </div>
                <p>
                    Everything in the world is governed by a set of rules. We are going through this business and a
                    rule. Our business is basically an e-commerce site. Any people can buy different types of products
                    according to their needs. E-commerce or online shop means you can order any product from home. And
                    it will reach you at a certain time InshaAllah. This is basically the activity of an e-commerce or
                    online shop. But we thought that in this policy only one e-commerce site owner gets richer day by
                    day but the buyer gets no financial gain. But buyers get a good service from them. So, considering
                    all the aspects, we have put a policy on our e-commerce site where buyers will also benefit and
                    sellers will also benefit, InshaAllah. And anyone can buy 1 product from here and earn an extra
                    income for the whole life. We can all realize how it is possible through today's organization and
                    some rules and regulations. The rules and regulations contained in our Partner Policy are detailed
                    below: -
                </p>
                <ol>
                    <li>If you want to work here, the first thing you need is time, the second thing you need is faith,
                        the third thing is self-confidence, the 4th thing is the mindset to work hard. Only those who
                        have these can join here and build their own future.</li>
                    <li>Open a member ID of this site by joining here with 100 Taka. Those 100 rupees will be returned
                        to the parse balance of this ID. With that money he will be able to buy products. If he wants to
                        buy a product worth more than Tk. 100 / -, he can add it to the balance by sending the same
                        amount of money to the account of this site. After that he can shop the product. </li>
                    <li>If a customer uses a product that he buys from here, he will promote it to another customer only
                        if he likes it. Or our site is an e-commerce site. Even if he does what he wants to do by
                        promoting the site to others without using the product, he will still benefit from it. Why would
                        a customer promote our site? The reason is that the products of this site are good in terms of
                        quality and the prices of all the products are kept low. In that respect he can promote this
                        product, use the product or not.</li>
                    <li>
                        Our products can be easily marketed by a customer because our products have a 15 day return
                        system. So you can advertise this product or site without any hassle and you can get a big
                        income from here.
                    </li>
                    <li>
                        For a customer to advertise a product or site here, he has to train for 5 to 7 days after
                        joining here, either on-line or off-line. The way a customer will get benefits. After doing this
                        training, he will be able to do his 1st level in a very short time.
                    </li>
                    <li>
                        When a customer completes his 1st level work, he will be responsible for training the remaining
                        4 members of his team and assisting them to complete their 1st level work. It's actually a team
                        work.
                    </li>
                    <li>
                        Once a customer completes his 1st level, he can take his commission money and products. You can
                        see how much money each customer has from 1st level to 10th level, what is the commission of any
                        level or what is the product of our site partner program has the option of commission by
                        clicking there.
                    </li>
                    <li>
                        When a customer's level 10 ends, his level of income ends there. After that, as per the
                        instructions of the company, the money of the last month's commission will be deposited in his
                        bank account on the 5th of every month from where these people below him will shop for the rest
                        of their lives. It will be calculated from the 1st to the 31st of the month.
                    </li>
                    <li>
                        A customer will receive his level commission and the subsequent sales commission that his
                        nominee will receive throughout his life. The nominee will continue to get the next generation
                        from an ID like this for the rest of his life InshaAllah. InshaAllah, the next generation will
                        get income from here in the same way as the next generation gets the inherited wealth.
                    </li>
                    <li>
                        A buyer must be a good person and be religious in whatever religion he or she belongs to. If it
                        is our Muslim religion then 5 times society is obligatory and there are all other acts of
                        worship. Dishonest and non-prayer will not be given any chance here. Although there is a
                        temporary benefit from this, it will be closed later.
                    </li>
                    <li>
                        If a customer fails to complete his 1st level work within 30 days of opening his account, his ID
                        will be canceled. But if he is late due to a family quarrel or any other problem, he will be
                        relaxed a bit. And once the account is canceled from this site, he will not be able to open the
                        ID here for the rest of his life.
                    </li>
                    <li>
                        He will need his own national identity card to open an account here. If he does not have his
                        own, he will need the national identity card of his father, mother, or husband / wife. If he has
                        a national identity card, he will not be able to withdraw his level commission.
                    </li>
                    <li>
                        If a customer is accused of any kind of immoral activity, he / she will have his / her account
                        canceled subject to proof of the allegation. By doing this, the customer will not have any
                        excuse or he will not create any kind of trouble.
                    </li>
                    <li>
                        Dealers in particular must provide the company with written information on all the products they
                        have in their area. And dealers must have the strong will to level 10 very quickly and the
                        capacity to run a team. With the exception of this, the dealership may be canceled.
                    </li>
                    <li>
                        Since we are not taking any deposit from the dealers, the dealers must be good people and
                        fulfill their responsibilities in leadership very well. Who are these dealers at a time when
                        they will give sub-dealers to the people below them? So the dealer must be a prudent person.
                    </li>
                </ol>
                <p>
                    Note: However, more and more conditions will be gradually added here.
                </p>
            </div>
        </mat-card>
    </div>
</div>