<div>
<mat-toolbar color="primary" class="tool">
        <span>{{title}}</span>
        <span class="spacer"></span>
        <mat-icon class="toolicon">notification_important</mat-icon> 
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon >account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
</mat-toolbar>
    <mat-toolbar class="height56"></mat-toolbar>
    <router-outlet></router-outlet>
</div>