<div class="my-account sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
            <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
                <div class="register-wrapper" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                    <div class="title">
                        <h3>Change Password</h3>
                    </div>
                    <div class="register-body">

                        <form fxLayout="row wrap" (ngSubmit)="changePasswordForm.valid && doChangePassword($event)"
                            [formGroup]="changePasswordForm">

                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 pr-15" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Mobile number" name="mobileNumber"
                                        [(ngModel)]="user_name" [ngModelOptions]="{standalone: true}" disabled>
                                    <!-- <mat-error *ngIf="changePasswordForm.get('mobileNumber').hasError('required')">
                                        Please enter a mobile number
                                    </mat-error> -->
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Current Password" name="currentPassword"
                                        [type]="'password'" formControlName="currentPassword" required>
                                    <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
                                        Please
                                        enter a valid current password
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 pr-15" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="New Password" name="newPassword" [type]="'password'"
                                        formControlName="newPassword" required>
                                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">Please
                                        enter a
                                        valid new password
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Confirm New Password" name="newConfirmPassword"
                                        [type]="'password'" formControlName="newConfirmPassword" required
                                        (input)="onInput($event.target.value)">
                                    <mat-error
                                        *ngIf="changePasswordForm.get('newConfirmPassword').hasError('required')">Please
                                        enter a valid confirm password
                                    </mat-error>
                                    <mat-error *ngIf="changePasswordForm.get('newConfirmPassword').invalid">
                                        Password don't match
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1"
                                ngClass.xs="mt-1">
                                <button class="btn-project" mat-raised-button color="primary" type="submit">Change
                                    Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>