<div class="return-policy-page sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
            <div fxFlex="100" fxFlex.gt-sm="100" class="partner-policy left-info-panel">
                <div class="title">
                    <h3>Return Policy</h3>
                </div>
                <p>
                    Hello visitors, welcome to our e-commerce site. We have 15 days return policy for all types of
                    products on this site. You can replace any product that is bad or has a problem (Excluding
                    electronics devices and accessories only). However, it must will be verified that the product is bad
                    or damaged. And it will only be acceptable if there is proper evidence. There are some rules for
                    returning our products that need to be followed. This is described below.
                </p>
                <br>
                <ol>
                    <li>After receiving the product, make a comment on whether it is good or bad.</li>
                    <li>Our products are sourced from various companies. So you have to tell both good and bad. Because
                        once the product proves to be bad, the product will never be uploaded to our site again. </li>
                    <li>You will send the product to our address along with an application on a paper.</li>
                    <li>
                        We will verify that product properly and if your complaint is proved we will send you any other
                        product for the same amount.
                    </li>
                    <li>
                        It may take 3 to 7 days to ship your product. So you have to be patient at this time.
                    </li>
                    <li>
                        Complaints or product must be returned to us within 15 days. Those who will be late to send the
                        product will have to submit a written application in advance to our e-mail.
                    </li>
                    <li>
                        Some products will have their own description of how it will be refundable. This does not apply
                        to all products.
                    </li>
                    <li>
                        Product courier charges must be paid the buyer.
                    </li>
                    <li>
                        This product return policy will be applicable to those who act as our partners.
                    </li>
                    <li>
                        Those who can't do their 1st level within 30 days. This product return policy will not be
                        acceptable to them.
                    </li>
                    <li>
                        The company can wish disable the partners account. Those who can't do 1st level within 30 days.
                    </li>
                    <li>
                        You can return this product from any area of the country to the dealer office. All dealers will
                        be responsible for providing your service on time.
                    </li>
                    <li>
                        If there is no dealer’s office in the respective district then everyone will contact the head
                        office and this activity will be conducted from the head office.
                    </li>
                    <li>
                        The company will be able to make reasonable decisions at any time. There will be no
                        accountability to anyone in the company.
                    </li>
                </ol>
                <p>
                    However, more and more conditions will be gradually added here. But they must be easily available to
                    everyone inshaAllah. On again, on behalf of our organization, thanks you everyone. And everyone was
                    requested to follow the product return policy properly.
                </p>
                <br><br><br>
                <p>
                    Return Policy Maker:<br>
                    Hasanul Haq<br>
                    MD & CEO

                </p>
            </div>
        </mat-card>
    </div>
</div>