<div class="product-dialog">
    <div class="close-btn-outer">
        <button mat-mini-fab color="warn" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div mat-dialog-content>

        <div class="commerce-buttons" fxLayout="row" fxLayoutAlign="end center">

            <div class="login-wrapper" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                <div class="title">
                    <h3>Forgot Password</h3>
                </div>
                <form fxLayout="row wrap" (ngSubmit)="forgotPasswordForm.valid && doForgotPassword($event)"
                    [formGroup]="forgotPasswordForm">

                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Mobile number" name="mobileNumber"
                                formControlName="mobileNumber" required>
                            <mat-error *ngIf="forgotPasswordForm.get('mobileNumber').hasError('required')">
                                Please enter a
                                mobile number
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1"
                        ngClass.xs="mt-1">
                        <button class="btn-project" mat-raised-button color="primary" type="submit">Forgot
                            Password</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>