<div class="contact-page sec-padding">
    <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
            <div fxFlex="100" fxFlex.gt-sm="60" class="left-info-panel">
                <div class="title">
                    <h3>BKASH</h3>
                </div>
                <ul>
                    <li>
                        <i class="material-icons">support_agent </i>
                        <br>
                        <h4>Agent</h4>
                        <br>
                        <p class="text-muted">88 01967-626268</p>
                    </li>
                    <li>
                        <i class="material-icons">person </i>
                        <br>
                        <h4>Personal</h4>
                        <br>
                        <p class="text-muted">88 01835-000060</p>
                    </li>
                    <li>
                        <i class="material-icons">payment </i>
                        <br>
                        <h4>Payment</h4>
                        <br>
                        <p class="text-muted">88 XXXXX-XXXXXX</p>
                    </li>
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="60" class="left-info-panel">
                <div class="title">
                    <h3>NAGAD</h3>
                </div>
                <ul>
                    <li>
                        <i class="material-icons">support_agent </i>
                        <br>
                        <h4>Agent</h4>
                        <br>
                        <p class="text-muted">88 01625-422119</p>
                    </li>
                    <li>
                        <i class="material-icons">person </i>
                        <br>
                        <h4>Personal</h4>
                        <br>
                        <p class="text-muted">88 01835-000060</p>
                    </li>
                </ul>
            </div>
        </mat-card>
    </div>
</div>